.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.backGround{
  background-image: url(DSC01276.JPG);
}
.button{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 60%;
  left:0;

}
.bigButton {
  background-image: url(logo.svg);
  width: 597.5px;
  height: 400px;
  position: absolute;
  bottom: 22.220%;
  left:-0.01%;
}

.bigButton1 {
  background-image: url(logo.svg);
  width: 597.5px;
  height: 400px;
  position: absolute;
  bottom: 22.220%;
  left:33.310%;
}

.bigButton2 {
  background-image: url(logo.svg);
  width: 597.8px;
  height: 400px;
  position: absolute;
  bottom: 22.220%;
  left:66.680%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
